<% layout('layouts/boilerplate')%>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="text-center">Edit Story</h1>
        <form
          action="/fiction/<%=story._id%>?_method=PUT"
          method="POST"
          novalidate
          class="validated-form"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input
              class="form-control"
              type="text"
              id="title"
              name="story[title]"
              value="<%=story.title%>"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="author">Author</label>
            <input
              class="form-control"
              type="text"
              id="author"
              name="story[author]"
              value="<%=story.author%>"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <fieldset>
              <legend class="small text-center">
                Pick at least one tag and at most 3 tags for this story
              </legend>
              <div class = "genre-wrapper d-flex flex-column  flex-wrap" style="max-height: 130px"> 
              <% for (let genre of genreList) {%>
                <div>
                  <input
                  class="form-check-input"
                  type="checkbox"
                  id= <%=genre%>
                  name="story[tags]"
                  value= <%=genre%>
                  required
                  <%if (story.tags.includes(genre)) {%>
                    checked
                  <%}%>
                />
                <label class="form-check-label" for=<%genre%>
                  ><%=genre%></label
                >
                </div>
              
              <%}%>
              </div>
            </fieldset>

            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="image">Add Images</label>
            <input type="file" name="image" id="image" multiple />
          </div>

          <div class="mb-3">
            <label class="form-label" for="link">Story Link</label>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"></span>
              <input type="text" class="form-control" id="link" placeholder="""
              aria-label="link" aria-describedby="link-label"
              name="story[link]" value="<%=story.link%>" required />
              <div class="valid-feedback">Looks good!</div>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="Description">Author's Summary</label>
            <textarea
              class="form-control"
              type="text"
              id="description"
              name="story[description]"
              required
            >
        <%=story.description%>
  
          </textarea
            >
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <% story.images.forEach(function(img,i) {%>
            <img src="<%=img.thumbnail %>" alt="" class="img-thumbnail" />
            <div class="form-check-inline">
              <input
                type="checkbox"
                id="image-<%=i%>"
                name="deleteImages[]"
                value="<%=img.filename%>"
              />
            </div>
            <label for="image-<%=i%>">Delete?</label>
            <br />
            <%})%>
          </div>
          <div class="mb-3">
            <button class="btn btn-success">Update Story</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
