<% layout('layouts/boilerplate')%>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <h1 class="text-center"><%=title%></h1>
  </div>
</div>

<div></div>
<ul class="remove-padding">
  <%if (!paginatedStories.length>0) {%>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <h4 class="text-center">There are no stories with this tag yet.</h4>
    </div>
  </div>

  <%} %> <% for (let story of paginatedStories) {%>
  <div class="card m-3">
    <div class="row">
      <div class="col-md-2 remove-padding-right">
        <% if (story.images.length) {%>
        <img class="img-width-100" src="<%=story.images[0].url%>" alt="" />

        <%} else {%>
        <img class="img-width-100" src="" alt="" />

        <%}%>
      </div>
      <div class="col-md-10 remove-padding-left">
        <div class="card-body">
          <h4 class="card-title text-center">
            <a href="/fiction/<%=story.id%>"> <%=story.title%> </a>
          </h4>
          <h5 class="card-title text-center">by <%=story.author%></h5>
          <p class="card-text m-1">
            <% let trimmedDescription = story.description.substr(0, 400);
            trimmedDescription = trimmedDescription.substr(0,
            trimmedDescription.lastIndexOf(" ")); %> <%=trimmedDescription%>...
          </p>
          <p class="m-1">
            <small class="text-muted"> Tags: <%=story.tags.join(', ')%> </small>
          </p>
          <p class="m-1">
            <small class="text-muted">
              Average Rating: <%if(story.ratingScore >-1) {%>
              <%=story.ratingScore.toFixed(1)%> (<%=story.reviews.length%>
              <span
                ><%= (story.reviews.length>1) ? "reviews" : "review"%>)</span
              >
              <% } else {%> This story is not yet rated. <% } %>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <%}%>
</ul>
<%if (title === "All Stories") {%>
<ul class="pagination">
  <% for(let i = 1; i <= totalPages; i++) { %>
  <li class="page-item <% if(currentPage == i) { %>active<% } %>">
    <a class="page-link" href="/fiction?page=<%= i %>"><%= i %></a>
  </li>
  <% } %>
</ul>
<%} else { %>

<ul class="pagination">
  <% for(let i = 1; i <= totalPages; i++) { %>
  <li class="page-item <% if(currentPage == i) { %>active<% } %>">
    <a class="page-link" href="/fiction/tags/<%=title%>?page=<%= i %>"
      ><%= i %></a
    >
  </li>
  <% } %>
</ul>
<%}%>

<script>

  const paginatedStories = {features: <%-JSON.stringify(paginatedStories)%>}
</script>
