<% layout('layouts/boilerplate')%>
<!-- I don't think I'm using this page anymore. -->
<div class="all-content-wrapper">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <h2 class="text-center">Displaying Search Results for "<%=query%>"</h2>
    </div>
  </div>
  <ul class="remove-padding">
    <% for (let story of sortedStories) {%>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-2">
          <% if (story.images.length) {%>
          <img class="img-width-100" src="<%=story.images[0].url%>" alt="" />

          <%} else {%>
          <img class="img-width-100" src="" alt="" />

          <%}%>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h4 class="card-title text-center">
              <a href="/fiction/<%=story.id%>"> <%=story.title%> </a>
            </h4>
            <p class="card-text">
              <% let trimmedDescription = story.description.substr(0, 500);
              trimmedDescription = trimmedDescription.substr(0,
              trimmedDescription.lastIndexOf(" ")); %>
              <%=trimmedDescription%>...
            </p>
            <p class="card-text">
              <small class="text-muted"> <%=story.tags%> </small>
            </p>
            <p class="card-text">
              <small class="text-muted">
                Average Rating: <%if(story.ratingScore >-1) {%>
                <%=story.ratingScore.toFixed(1)%> <%} else {%> This story is not
                yet rated. <% } %>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <%}%>
  </ul>
</div>
