<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css" />

<div class="row">
  <div class="col-md-4">
    <div
      id="carouselExampleControls"
      class="carousel slide mb-2 carousel-dark"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <% story.images.forEach((img, i) => {%>

        <div class="carousel-item <%= i===0? 'active': ''%>">
          <img class="d-block w-100" src="<%=img.url%>" alt="" />
        </div>

        <%})%>
      </div>

      <% if (story.images.length>1) {%>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <%}%>
    </div>
 
     

  </div>
      <!-- The second column
     -->
  <div class="col-md-8">

    <div class="card mb-3">
      <div class="card-body">
        <h1 class="card-title text-center"><%=story.title%></h1>
        <p class="card-text"><%=story.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Author: <%=story.author%>
        </li>
        <li class="list-group-item">
          Tags: <%for (let tag of story.tags) {%>
              <%=tag%>, 
            <%}%>
        </li>
        <li class="list-group-item">
          Average Rating: 
   <!-- first, make sure there are reviews. -->
      <% if (story.ratingScore >-1) { %>
          
            <%=story.ratingScore%>  

          <%
          } else {
            %>
            <p> There are no reviews yet for this story.</p>
            <% }%>
        
        </li>
        


        <li class="list-group-item">
          <a href= <%=story.link%> class = 'btn btn-success'>Read now</a>
        </li>
      </ul>

      <div class="card-body">
      <form
          action="/fiction/<%=story._id%>/report?_method=PUT"
          method="POST"
          class="d-inline"
        >
          <button class="btn btn-danger btn-sm">Report</button>
        </form>
      </div>


      <%
      if(currentUser && story.poster && story.poster.equals(currentUser._id)) { %>
      <div class="card-body">
        <a
          class="btn btn-info card-link"
          href="/fiction/<%=story._id%>/edit"
          >Edit</a
        >
        
      </div>
      <%}%>

      <%
      if(currentUser && story.poster && story.poster.equals(currentUser._id)) { %>
      <div class="card-body">
        <a
          class="btn btn-danger card-link"
          href="/fiction/<%=story._id%>/edit"
          >Request to Delete</a
        >
        
      </div>
      <%}%>

      

    </div>

  </div>


  <!-- The Reviews start here: -->
    <%let alreadyPosted = false;
      for (let review of story.reviews) {
        if (currentUser && review.poster.equals(currentUser._id)) {
          alreadyPosted = true;
        }
      }
    if (currentUser && currentUser.isVerified) { %>
    <h2 class = "text-center">Leave a Review</h2>
    <form
      action="/fiction/<%=story._id%>/reviews"
      method="POST"
      class="mb-3 validated-form"
      novalidate
    >
      <!-- <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input
          name="review[rating]"
          class="form-range"
          type="range"
          min="1"
          max="5"
          id="rating"
        />
      </div> -->
      <div class="mb-3">
        <fieldset class="starability-basic">
          <legend></legend>
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>

      <div class="mb-3">
        <label class="form-label" for="body">Review Text</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <%} else {%> 
          <h4 class="text-center">Log in and verify your email to leave a review.</h4>

      <%}%>
   

  <!-- Existing Reviews -->

  <h2 class="text-center">Reviews</h2>

    <%for (let review of story.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <p class="starability-result" data-rating="<%=review.rating%>">
          Rated: <%=review.rating%> stars
        </p>

        <h6 class="card-subtitle text-muted mb-2">
          By <%=review.poster.username%>
        </h6>
        <h6 class="card-subtitle text-muted mb-2">
          Review upvotes: <%=review.upvotes.number%>
        </h6>
       
        <p class ="text-left">Review: <%=review.body%></p>

        <form
        method="POST"
        action="/fiction/<%=story._id%>/reviews/<%=review._id%>/upvote?_method=PUT"
      >
        <button class="btn btn-sm btn-success">+1 Upvote</button>
      </form>
        <br>
        <form
        method="POST"
        action="/fiction/<%=story._id%>/reviews/<%=review._id%>/report?_method=PUT"
      >
        <button class="btn btn-sm btn-danger">Report</button>
      </form>
      <br>
        <% if(currentUser && review.poster.equals(currentUser._id)) { %>

        <form
          method="POST"
          action="/fiction/<%=story._id%>/reviews/<%=review._id%>?_method=DELETE"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <%}%>
      </div>
    </div>

    <%}%>
    <% if (story.reviews.length ===0) {%>
      <h4 class="text-center mb-3">There are no reviews for this story yet. Be the first to review this story!</h4>
      

    <%}%>
</div>

<script>

  const story = <%- JSON.stringify(story) %>
</script>

<footer></footer>
