<% locals.pageTitle = story.title;

locals.description = story.description.substring(0, 150); // get the first maxLength characters of the description
locals.description = locals.description.substring(0, locals.description.lastIndexOf(' '));
%>
<% layout('layouts/boilerplate'); %>
<link rel="stylesheet" href="/stylesheets/stars.css" />
<div class="overlay" id="deleteConfirmationOverlay" style="display: none;"></div>

<!-- Modal confirmation dialog for deleting a story: -->
<div class="confirmation-dialog" id="deleteStoryConfirmationDialog" style="display: none;">
<p>Are you sure you want to delete this story?</p>
<div class="d-flex justify-content-between">
  <button class = "btn-info btn btn-sm" id="closeDeleteStoryConfirmationDialog">Don't Delete</button>

  <form
  action ="/fiction/<%=story._id%>/?_method=Delete"
  method = "POST"
  class = "form"
  >
    <button
    class="btn btn-sm btn-danger"
    >Delete 
    </button>
  </form>
</div>
  
</div>
<!--Modal confirmation dialog for deleting a review:  -->
<div class="confirmation-dialog" id="deleteReviewConfirmationDialog" style="display: none;">
  <p>Are you sure you want to delete this review?</p>
  <div class="d-flex justify-content-between">
    <button class = "btn-info btn btn-sm m-2" id="closeDeleteReviewConfirmationDialog">Don't Delete</button>

    <form
  method="POST"
  id="delete-review-form"
>
  <button class="btn btn-sm btn-danger m-2">Delete</button>
</form>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div
      id="carouselExampleControls"
      class="carousel slide mb-2 carousel-dark"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <% story.images.forEach((img, i) => {%>

        <div class="carousel-item <%= i===0? 'active': ''%>">
          <img class="d-block w-100" src="<%=img.url%>" alt="" />
        </div>

        <%})%>
      </div>

      <% if (story.images.length>1) {%>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <%}%>
    </div>
 
     

  </div>
      <!-- The second column
     -->
  <div class="col-md-8">

    <div class="card mb-3">
      <div class="card-body">
        <h1 class="card-title text-center"><%=story.title%></h1>
        <p class="card-text"><%=story.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Author: <%=story.author%>
        </li>
        <li class="list-group-item">
          Tags: <%for (let tag of story.tags) {%>
              <%=tag%>, 
            <%}%>
        </li>
        <li class="list-group-item">
          Average Rating: 
   <!-- first, make sure there are reviews. -->
      <% if (story.ratingScore >-1) { %>
          
            <%=story.ratingScore.toFixed(1)%>  

          <%
          } else {
            %>
            <p> There are no reviews yet for this story.</p>
            <% }%>
        
        </li>

        <li class="list-group-item">
          <p>Estimated Target Audience (provided by reviewers):  </p>    

          <div class="form-group m-2">
            <input disabled class="rating-range" type="range" min="0" max="3" step=".1" id="audience-report" value="<%=story.audience? story.audience : 0%>">
          <br/>
          <div class="d-flex justify-content-between rating-label">
            <span>Unknown</span> <span>Everyone</span><span>Teen</span><span>Mature</span>
            </div>
        
          </div>
        
         </li>


        <li class="list-group-item">
          <p>Estimated Content Warnings (provided by reviewers):  </p>    
          <div class="form-group m-2">
          <label class="warning-label-report" for="violence-report"><h6>Graphic Violence:</h6></label>
          <br/>
            <input disabled class="rating-range" type="range" min="0" max="3" step=".1" id="violence-report" value="<%=story.warnings ? story.warnings.violence : 0%>">
          <br/>
          <div class="d-flex justify-content-between rating-label">
            <span>Unknown</span> <span>Everyone</span><span>Teen</span><span>Mature</span>
            </div>
        
          </div>
          <div class="form-group m-2">
          <label class="warning-label-report" for="profanity-report"><h6>Profanity:</h6></label>
          <br/>
            <input disabled class="rating-range" type="range" min="0" max="3" step=".1" id="profanity-report" value="<%=story.warnings ? story.warnings.profanity : 0 %>">
          <br/>
          <div class="d-flex justify-content-between rating-label">
            <span>Unknown</span> <span>Everyone</span><span>Teen</span><span>Mature</span>
            </div>
        
          </div>
          <div class="form-group m-2">
          <label class="warning-label-report" for="sexual-content-report"><h6>Sexual Content:</h6></label>
          <br/>
            <input disabled class="rating-range" type="range" min="0" max="3" step=".1" id="sexual-content-report" value="<%=story.warnings ? story.warnings.sexualContent : 0 %>">
          <br/>
          <div class="d-flex justify-content-between rating-label">
            <span>Unknown</span> <span>Everyone</span><span>Teen</span><span>Mature</span>
            </div>
        
          </div>
         </li>
        


        <li class="list-group-item">
          <a href= <%=story.link%> class = 'btn btn-success'>Read now</a>
        </li>
      

      <%
      if(currentUser && story.poster && story.poster.equals(currentUser._id)) { %>
      <li class="list-group-item">
        <a
          class="btn btn-info card-link"
          href="/fiction/<%=story._id%>/edit"
          > Edit</a>
        
      </li>
      <%}%>

        <li class="list-group-item">
          <button class="btn btn-danger btn-sm" type="button" id="view-report-story-form">Report this story</button>
          
      <form
          action="/fiction/<%=story._id%>/report"
          method="POST"
          class=" hide"
          id="hide-report-story-form"
        >
        
            <textArea id="report-story-body" class="m-2" name ="message" cols="100" style ="max-width: 100%;"maxlength="4000"> </textArea>
            <br/>
            <button class="btn btn-danger btn-sm" type="submit" id="report-story-button"> Report this story</button>

        </form>
          </li>

      <% if(currentUser && story.poster && story.poster.equals(currentUser._id)) { %>
      <li class="list-group-item">
        <button class="btn btn-sm btn-danger" id="delete-story-button">Delete</button>
        
      </li>
      <%}%>
      </ul>




   

      

    </div>

  </div>


  <!-- The Reviews start here: -->
    <%let alreadyPosted = false;
      for (let review of story.reviews) {
        if (currentUser && review.poster.equals(currentUser._id)) {
          alreadyPosted = true;
        }
      }
    if (currentUser && currentUser.isVerified) { %>
    <h2 class = "text-center">Leave a Review</h2>
    <form
      action="/fiction/<%=story._id%>/reviews"
      method="POST"
      class="mb-3 validated-form create-review-form"
      novalidate
      
    >
      <!-- <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input
          name="review[rating]"
          class="form-range"
          type="range"
          min="1"
          max="5"
          id="rating"
        />
      </div> -->
      <div class="mb-3">
        <fieldset class="starability-basic">
          <legend></legend>
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value=""
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
            checked

            
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="form-group m-2">
      <label class = "warning-label-report" for="violence"><h6>Graphic Violence:</h6></label>
      <br/>
      <input class="rating-range" type="range" min="0" max="3" name="review[warnings][violence]" id="violence" value="0">
      <br/>
      <div class="d-flex justify-content-between rating-label">
        <span>Unknown</span> <span>Everyone</span><span>Teen</span><span>Mature</span>
        </div>
        
      </div>
      <div class="form-group m-2">
      <label class = "warning-label-report" for="profanity"><h6>Profanity:</h6></label>
      <br/>
      <input class="rating-range" type="range" min="0" max="3" name="review[warnings][profanity]" id="profanity" value="0">
      <br/>
      <div class="d-flex justify-content-between rating-label ">
        <span>Unknown</span> <span>Everyone</span><span>Teen</span><span>Mature</span>
        </div>
        
      </div>

      <div class="form-group m-2">
      <label class = "warning-label-report"  for="sexual-content"><h6>Sexual Content</h6></label>
      <br/>
      <input class="rating-range" type="range" min="0" max="3" name="review[warnings][sexualContent]" id="sexual-content" value="0">
      <br/>
      <div class="d-flex justify-content-between rating-label">
        <span>Unknown</span> <span>Everyone</span><span>Teen</span><span>Mature</span>
        </div>
        
      </div>
      <div class="form-group m-2">
      <label class = "warning-label-report" for="audience"><h6>Estimated Target Audience</h6></label>
      <br/>
      <input class="rating-range" type="range" min="0" max="3" name="review[audience]" id="audience" value="0">
      <br/>
      <div class="d-flex justify-content-between rating-label">
        <span>Unknown</span> <span>Everyone</span><span>Teen</span><span>Mature</span>
        </div>
        
      </div>

      <div class="mb-3">
        <label class="form-label" for="body">Review Text</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          required
          maxlength="4000"
        ></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <%} else {%> 
          <h4 class="text-center">Log in and verify your email to leave a review.</h4>

      <%}%>
   

  <!-- Existing Reviews -->

  <h2 class="text-center">Reviews</h2>

    <% let count = 0;
    for (let review of story.reviews) { count +=1;%>
    <div class="card mb-3 mx-auto review-list">
      <div class="card-body">
        <p class="starability-result" data-rating="<%=review.rating%>">
          Rated: <%=review.rating%> stars
        </p>

        <h6 class="card-subtitle text-muted mb-2">
          By <%=review.poster.username%>
        </h6>
        <h6 class="card-subtitle text-muted mb-2">
          Review upvotes: <%=review.upvotes.number%>
        </h6>
       
        <p class ="text-left">Review: <%=review.body%></p>

        <form
        method="POST"
        action="/fiction/<%=story._id%>/reviews/<%=review._id%>/upvote?_method=PUT"
      >
        <button class="btn btn-sm btn-success m-2">+1 Upvote</button>
        </form>
        <button class="btn btn-danger btn-sm m-2 hidden-form-button" type="button" id="view-report-review-form<%=count%>">Report this review</button>
        <form
          action="/fiction/<%=story._id%>/reviews/<%=review._id%>/report"
          method="POST"
          class=" hide"
          id="report-review-form<%=count%>"
        >
        
            <textArea id="report-review-body<%=count%>" class="m-2" name ="message" cols="100" style ="max-width: 100%;"> </textArea>
            <br/>
            <button class="btn btn-danger btn-sm m-2" type="submit" id="report-story-button<%=count%>"> Report</button>

        </form>

        <br>
        <% if(currentUser && review.poster.equals(currentUser._id)) { %>
          <button class="btn btn-sm btn-info m-2 edit-review-btn hidden-edit-review-form-button" id = "view-edit-review-form<%=count%>" data-id="<%=review._id%>" data-story-id="<%=story._id%>">Edit</button>
          <form
          action="/fiction/<%=story._id%>/reviews/<%=review._id%>?_method=Put"
          method="POST"
          class=" hide"
          id="report-review-form<%=count%>"
        >
        <div class="mb-3">
        <fieldset class="starability-basic">
          <legend></legend>
          <input
            type="radio"
            id="second-no-rate"
            class="input-no-rate"
            name="second-review[rating]"
            value=""
            aria-label="No rating."
          />
          <input
            type="radio"
            id="second-rate1"
            name="review[rating]"
            value="1"
            <%=review.rating === 1 ? "checked" : ""%>
          />
          <label for="second-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="second-rate2"
            name="review[rating]"
            value="2"
            <%=review.rating === 2 ? "checked" : ""%>

          />
          <label for="second-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="second-rate3"
            name="review[rating]"
            value="3"
            <%=review.rating === 3 ? "checked" : ""%>

          />
          <label for="second-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="second-rate4"
            name="review[rating]"
            value="4"
            <%=review.rating === 4 ? "checked" : ""%>

          />
          <label for="second-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="second-rate5"
            name="review[rating]"
            value="5"
            <%=review.rating === 5 ? "checked" : ""%>

          
            
          />
          <label for="second-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>

      <div class="form-group m-2">
      <label class = "warning-label-report" for="violence-edit"><h6>Graphic Violence:</h6></label>
      <br/>
      <input class="rating-range" type="range" min="0" max="3" name="review[warnings][violence]" id="violence-edit" value="<%=review.warnings ? review.warnings.violence : 0%>">
      <br/>
      <div class="d-flex justify-content-between rating-label">
        <span>Unknown</span> <span>Everyone</span><span>Teen</span><span>Mature</span>
        </div>
        
      </div>
      <div class="form-group m-2">
      <label class = "warning-label-report" for="profanity-edit"><h6>Profanity:</h6></label>
      <br/>
      <input class="rating-range" type="range" min="0" max="3" name="review[warnings][profanity]" id="profanity-edit" value="<%=review.warnings ? review.warnings.profanity : 0%>">
      <br/>
      <div class="d-flex justify-content-between rating-label ">
        <span>Unknown</span> <span>Everyone</span><span>Teen</span><span>Mature</span>
        </div>
        
      </div>

      <div class="form-group m-2">
      <label class = "warning-label-report"  for="sexual-content-edit"><h6>Sexual Content</h6></label>
      <br/>
      <input class="rating-range" type="range" min="0" max="3" name="review[warnings][sexualContent]" id="sexual-content-edit" value="<%=review.warnings ? review.warnings.sexualContent : 0%>">
      <br/>
      <div class="d-flex justify-content-between rating-label">
        <span>Unknown</span> <span>Everyone</span><span>Teen</span><span>Mature</span>
        </div>
        
      </div>
      <div class="form-group m-2">
      <label class = "warning-label-report" for="audience-edit"><h6>Estimated Target Audience</h6></label>
      <br/>
      <input class="rating-range" type="range" min="0" max="3" name="review[audience]" id="audience-edit" value="<%=review.audience%>">
      <br/>
      <div class="d-flex justify-content-between rating-label">
        <span>Unknown</span> <span>Everyone</span><span>Teen</span><span>Mature</span>
        </div>
        
      </div>

        
            <textArea id="edit-review-body<%=count%>" class="m-2" name ="review[text]" cols="100" rows="8" style ="max-width: 100%;" ><%=review.body%></textArea>
            <br/>
            <button class="btn btn-success btn-sm m-2" type="submit" id="edit-story-button<%=count%>"> Edit</button>
        </form>
        <%}%>


      <br>
        <% if(currentUser && review.poster.equals(currentUser._id)) { %>
          <button class="btn btn-sm btn-danger m-2 delete-review-btn" data-id="<%=review._id%>" data-story-id="<%=story._id%>">Delete</button>

        <%}%>
      </div>
    </div>

    <%}%>
    <% if (story.reviews.length ===0) {%>
      <h4 class="text-center mb-3">There are no reviews for this story yet. Be the first to review this story!</h4>
      

    <%}%>

    <ul class="pagination">
  <% for(let i = 1; i <= totalPages; i++) { %>
    <li class="page-item <% if(currentPage == i) { %>active<% } %>">
      <a class="page-link" href="/fiction/<%=story._id%>?page=<%= i %>"><%= i %></a>
    </li>
  <% } %>
</ul>
</div>

<script>

  const story = <%- JSON.stringify(story) %>

</script>
<script src="/javascripts/toggleHiddenDivStoryPage.js"></script>



<footer></footer>
