<% layout('layouts/boilerplate')%>
<div class="all-content-wrapper">

  <h1 class="text-center"><%=title%></h1>
  <!-- This is for the search and filtering options: -->
  <div class="d-flex flex-column">
    <ul class="d-flex justify-content-center">
      <li class="list-unstyled mx-2">
        <% if (title === "My Collections" ) {%>
            <a href="/collections">Public Collections</a>

        <%} else {%>
          <a href="/collections?mine=true">My Collections</a>

        <%} %>
      </li>
      <li class="list-unstyled mx-2">
        <a href="/collections/new">New Collection</a>
      </li>
    </ul>
    <button class="btn btn-info mx-auto btn-sm" id="show-advanced-search">Advanced Search</button>
    <form class= "card m-3" id="tagSelectionForm">
      <div class="card-body">
        <label for="filter-title">Search By Title:</label>
        <input maxlength = "200" id="filter-title" class="form-control" type="search" name="filter[title]" value ="<%=queryTitle ? queryTitle : ""%>"/>
        <small id="title-validation-error"class="hide"></small>
        <br/>

        <label class="mt-2" for="filter-description">Search By Description:</label>
        <input maxlength = "200" id="filter-description" class="form-control" type="search" name="filter[description]" value ="<%=queryDescription ? queryDescription : ""%>"/>
        <small id="description-validation-error"class="hide"></small>
        <br/>
        <label class="mt-2">Filter Collections by Tag:</label>
        <br/>
  
        <div class="genre-wrapper d-flex flex-column flex-wrap">
          <% for (let tag of genreList) {%>
          <div>
            <input
              class="form-check-input tag-check"
              type="checkbox"
              id="<%=tag%>"
              name="filter[tags]" value="<%=tag%>" 
              <% if( matchedTags) { 
                if (matchedTags.includes(tag)) {%>
                   checked 
                <%}
            }%>
              />
              
            <label class="form-check-label" for="<%=tag%>"> <%=tag%></label>
          </div>
          <%}%>
        </div>
        <button class="btn btn-success mt-3" type="submit">Search</button>
      </div>
      
    </form>
    


  </div>

  <ul class="remove-padding">
    <%if (!paginatedCollections.length>0) {%>
    <div class="row">
      <h4 class="text-center">There are no collections to view.</h4>
    </div>

    <%} %> <% for (let collection of paginatedCollections) {%>
    <div class="card m-3">
      <div class="row">
        <div class="col-md-12 remove-padding-left">
          <div class="card-body">
            <h4 class="card-title text-center">
              <a href="/collections/<%=collection.id%>">
                <%=collection.title%>
              </a>
            </h4>
            <p class="card-text m-1">
              <% let trimmedDescription = collection.description.substr(0, 400);
              if (trimmedDescription.length < collection.description.length) {
              trimmedDescription = trimmedDescription.substr(0,
              trimmedDescription.lastIndexOf(" ")); %>
              <%=trimmedDescription%>... <%} else {%>
              <%=collection.description%> <%}%>
            </p>
            <p class="m-1">
              <small class="text-muted">
                Tags: <%=collection.tags.join(', ')%>
              </small>
            </p>
            <p class="m-1">
              <small class="text-muted">
                Total Upvotes: <%if(collection.upvotes.number >-1) {%>
                <%=collection.upvotes.number%> <% } else {%> 0 <% } %>
              </small>
            </p>
            <p class="m-1">
              <small class="text-muted">
                Number of Stories: <%if(collection.stories) {%>
                <%=collection.stories.length%> <% } else {%> 0 <% } %>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <%}%>
  </ul>
    <ul class="pagination ">
    <% for(let i = 1; i <= totalPages; i++) { %>
    <li class="page-item <% if(currentPage == i) { %>active<% } %>">
      <a class="page-link" href="/collections?title=<%=queryTitle%>&description=<%=queryDescription%>&tags=<%=matchedTags%>&mine=<%=queryMine%>&page=<%=i%>"><%= i %></a>
    </li>
    <% } %>

  </ul>



</div>

<script src="/javascripts/filterByTag.js"></script>
