<% layout('layouts/boilerplate')%>
<div class="all-content-wrapper">

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">

    <h1 class="text-center">Account</h1>
    <h2 class="text-center">Profile</h2>  </div>
</div>

<div class="card">
  <p class = 'm-3'>Username: <%=currentUser.username%></p>
  <p class = "m-3">Email: <%=currentUser.email%></p>
  <p class = "m-3">Account Status: <% if (currentUser.verified === true) {%>
    <span>Verified</span> </p>
    <% } else { %>
      <span> Not Verified</span> </p>
              <form
              action="/reregister?_method=POST"
              method="POST"
              class="d-inline"
            >
              <button class="btn btn-success m-3">send my email verification link again</button>
            </form>
    <%}%>
  <span> <a class="btn btn-primary m-3" href="/contact">Contact Web Fiction Reviews</a></span> 

  <span> <a class="btn btn-primary m-3" href="/logout">Logout</a></span> 


</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <h2 class="text-center">My Stories</h2>
  </div>
</div>
<div>
  <ul class = 'remove-padding'>
    <% for (let story of myStories) {%>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-2">
          <% if (story.images.length) {%>
          <img class="img-fluid" src="<%=story.images[0].url%>" alt="" />

          <%} else {%>
          <img class="img-fluid" src="" alt="" />

          <%}%>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h4 class="card-title text-center">
              <a href="/fiction/<%=story.id%>"> <%=story.title%> </a>
            </h4>
            <p class="card-text"><%=story.description%></p>
            <p class="card-text">
              <small class="text-muted">
                Tags: <%for (let tag of story.tags) {%> <%=tag%>, <%}%>
              </small>
            </p>
            <p class="card-text">
              <small class="text-muted">
                Average Rating: <%if(story.ratingScore >-1) {%>
                <%=story.ratingScore%> <%} else {%> This story is not yet rated.
                <% } %>
              </small>
            </p>

            <a
              class="btn btn-info card-link"
              href="/fiction/<%=story._id%>/edit"
              >Edit</a
            >
            <form
              action="/fiction/<%=story._id%>?_method=DELETE"
              method="POST"
              class="d-inline"
            >
              <button class="btn btn-danger" type="submit">
                Delete this Story
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%}%>
  </ul>
</div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
  
      <h2 class="text-center">My Reviews</h2>

  </div>

  <ul class ="remove-padding">
    <% for (let review of userReviews) {%>
    <div class="card m-2">
      <div class="row">
        <div class="col-md-2">
          <% if (review.reviewedStory.images.length) {%>
          <img
            class="img-fluid"
            src="<%=review.reviewedStory.images[0].url%>"
            alt=""
          />

          <%} else {%>
          <img class="img-fluid" src="" alt="" />

          <%}%>
        </div>

        <div class="col-md-10">
          <div class="card-body mb-3">
            <h4 class="card-title text-center">
              <a href="/fiction/<%=review.reviewedStory._id%>"> <%=review.reviewedStory.title%> </a>
            </h4>
            <h5 class="card-title"><%=review.title%></h5>
            <p class="card-text">Review Stars: <%=review.rating%></p>
            <p class="card-text">Review: <%=review.body%></p>
            <p class="card-text">Upvotes: <%=review.upvotes.number%></p>

            <br />
            <form
              action="/fiction/<%=review.reviewedStory._id%>/reviews/<%=review._id%>?_method=DELETE"
              method="POST"
              class="d-inline"
            >
              <button class="btn btn-danger">Delete this Review</button>
            </form>

          </div>
        </div>
      </div>
    </div>
    <%}%>
  </ul>
</div>
</div>
<script>

</script>
