<% layout('layouts/boilerplate')%>
<div class="all-content-wrapper">


  <div class="overlay" id="deleteConfirmationOverlay" style="display: none;"></div>

  <!-- Modal confirmation dialog for deleting a story: -->
  <div class="confirmation-dialog" id="deleteStoryConfirmationDialog" style="display: none;">
  <p>Are you sure you want to delete your account? This will delete all your reviews and collections.</p>
  <div class="d-flex justify-content-between">
    <button class = "btn-info btn btn-sm" id="closeDeleteStoryConfirmationDialog">Nevermind</button>
  
    <form
    action ="/account/<%=currentUser._id%>/?_method=Delete"
    method = "POST"
    class = "form"
    id="delete-account-form"
    >
      <button
      class="btn btn-sm btn-danger"
      >Delete
      </button>
    </form>
  </div>
    
  </div>



<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">

    <h1 class="text-center">Account</h1>
    <h2 class="text-center">Profile</h2>  </div>
</div>

<div class="card">
  <p class = 'm-3'>Username: <%=currentUser.displayName%></p>
  <p class = "m-3">Email: <%=currentUser.email%></p>
  <p class = "m-3">Account Status: <% if (currentUser.isVerified === true) {%>
    <span>Verified</span> </p>
    <% } else { %>
      <span> Not Verified</span> </p>
              <form
              action="/reregister?_method=POST"
              method="POST"
              class="d-inline"
            >
              <button class="btn btn-success m-3">send my email verification link again</button>
            </form>
    <%}%>
  <span> <a class="btn btn-primary m-3" href="/contact">Contact Web Fiction Reviews</a></span> 
  <div class="d-flex align-items-center">
    <span> <a class="btn btn-sm btn-primary m-3" href="/logout">Logout</a></span> 
    <button class="btn btn-danger btn-sm" id="delete-story-button">Delete Account</button> 
  </div>
  



</div>
<div class="row">



  <div class="col-md-2"></div>
  <div class="col-md-10">
    <ul class="d-flex justify-content-center">

    <li class="list-unstyled mx-2">
          <a href="/account?toggle=stories">My Stories</a>
        <a href="/account?toggle=reviews">My Reviews</a>
        <a href="/collections?mine=true">My Collections</a>

    </li>

  </ul>
    <%if (myStories) {%>
    <h2 class="text-center">My Stories</h2>

    <%}%>

  </div>
</div>

<%if (myStories) {%>
<div>
  <ul class = 'remove-padding'>
    <% for (let story of myStories) {%>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-2">
          <% if (story.images.length) {%>
          <img class="img-width-100" src="<%=story.images[0].url%>" alt="" />

          <%} else {%>
          <img class="img-width-100" src="" alt="" />

          <%}%>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h4 class="card-title text-center">
              <a href="/fiction/<%=story.id%>"> <%=story.title%> </a>
            </h4>
            <p class="card-text"><%=story.description%></p>
            <p class="card-text">
              <small class="text-muted">
                Tags: <%for (let tag of story.tags) {%> <%=tag%>, <%}%>
              </small>
            </p>
            <p class="card-text">
              <small class="text-muted">
                Average Rating: <%if(story.ratingScore >-1) {%>
                <%=story.ratingScore%> <%} else {%> This story is not yet rated.
                <% } %>
              </small>
            </p>
            <div class="d-flex justify-content-center">
              <a
              class="btn btn-info card-links"
              href="/fiction/<%=story._id%>/edit"
              >Edit</a
            >
            </div>
            
         
          </div>
        </div>
      </div>
    </div>
    <%}%>
  </ul>
</div>
<%}%>

<%if (userReviews) {%>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
  
      <h2 class="text-center">My Reviews</h2>

  </div>

  <ul >
    <% for (let review of userReviews) {%>
    <div class="card m-2">
      <div class="row">
        <div class="col-md-2">
          <% if (review.reviewedStory.images.length) {%>
          <img
          class="img-width-100"
            src="<%=review.reviewedStory.images[0].url%>"
            alt=""
          />

          <%} else {%>
          <img class="img-width-100" src="" alt="" />

          <%}%>
        </div>

        <div class="col-md-10">
          <div class="card-body mb-3">
            <h4 class="card-title text-center">
              <a href="/fiction/<%=review.reviewedStory._id%>"> <%=review.reviewedStory.title%> </a>
            </h4>
            <h5 class="card-title"><%=review.title%></h5>
            <p class="card-text">Review Stars: <%=review.rating%></p>
            <p class="card-text">Review: <%=review.body%></p>
            <p class="card-text">Upvotes: <%=review.upvotes.number%></p>

          </div>
        </div>
      </div>
    </div>
    <%}%>
  </ul>

</div>
<% }%>

</div>

<script src = "javascripts/toggleOverlay.js"></script>