<% layout('layouts/boilerplate')%>

<h1 class="text-center">Pending Stories</h1>
<div>
  <ul>
    <% for (let story of pendingStories) {%>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-2">
          <% if (story.images.length) {%>
          <img class="img-fluid" src="<%=story.images[0].url%>" alt="" />

          <%} else {%>
          <img class="img-fluid" src="" alt="" />

          <%}%>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title"><%=story.title%></h5>
            <p class="card-text"><%=story.description%></p>
            <p class="card-text">
              <small class="text-muted">
                Tags: <%for (let tag of story.tags) {%> <%=tag%>, <%}%>
              </small>
            </p>
            <p class="card-text">
              <small class="text-muted">
                Average Rating: <%if(story.ratingScore >-1) {%>
                <%=story.ratingScore%> <%} else {%> This story is not yet rated.
                <% } %>
              </small>
            </p>
            <a class="btn btn-primary" href="/fiction/<%=story.id%>"
              >View <%=story.title%>
            </a>
            <form
              action="/fiction/<%=story._id%>/pending?_method=PUT"
              method="POST"
              class="d-inline"
            >
              <button class="btn btn-success">Approve</button>
            </form>
            <a
              class="btn btn-info card-link"
              href="/fiction/<%=story._id%>/edit"
              >Edit</a
            >
          </div>
        </div>
      </div>
    </div>
    <%}%>
  </ul>
</div>
<h1 class="text-center">Reported Stories</h1>
<div>
  <ul>
    <% for (let story of storiesWithUnrespondedReports) {%>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-2">
          <% if (story.images.length) {%>
          <img class="img-fluid" src="<%=story.images[0].url%>" alt="" />

          <%} else {%>
          <img class="img-fluid" src="" alt="" />

          <%}%>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title"><%=story.title%></h5>
            <p class="card-text"><%=story.description%></p>
            <p class="card-text">
              <small class="text-muted">
                Tags: <%for (let tag of story.tags) {%> <%=tag%>, <%}%>
              </small>
            </p>
            <p class="card-text">
              <small class="text-muted">
                Average Rating: <%if(story.ratingScore >-1) {%>
                <%=story.ratingScore%> <%} else {%> This story is not yet rated.
                <% } %>
              </small>
            </p>
            <h5>These are the reports for this story:</h5>
            <% for (i = 0; i <story.reportList.length; i++) { if
            (story.reportList[i].adminResponded ===false) {%>
            <h6>reporter's email: <%=story.reportList[i].poster.email %></h6>
            <p>Message: <%=story.reportList[i].body %></p>
            <form
              action="/fiction/<%=story._id%>/<%=story.reportList[i]._id%>/remove-report?_method=PUT"
              method="POST"
              class="d-inline"
            >
              <button class="btn btn-primary" type="submit">
                Mark this report as responded
              </button>
            </form>
            <p>---</p>

            <br />
            <%} }%>

            <a class="btn btn-primary" href="/fiction/<%=story.id%>"
              >View <%=story.title%>
            </a>
            <a
              class="btn btn-info card-link"
              href="/fiction/<%=story._id%>/edit"
              >Edit</a
            >

            <form
              action="/fiction/<%=story._id%>?_method=DELETE"
              method="POST"
              class="d-inline"
            >
              <button class="btn btn-danger" type="submit">
                Delete this Story
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%}%>
  </ul>
</div>

<h1 class="text-center">Request-to-delete Stories:</h1>
<div>
  <ul>
    <% for (let story of requestToDeleteStories) {%>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-2">
          <% if (story.images.length) {%>
          <img class="img-fluid" src="<%=story.images[0].url%>" alt="" />

          <%} else {%>
          <img class="img-fluid" src="" alt="" />

          <%}%>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title"><%=story.title%></h5>
            <p class="card-text"><%=story.description%></p>
            <p class="card-text">
              <small class="text-muted">
                Tags: <%for (let tag of story.tags) {%> <%=tag%>, <%}%>
              </small>
            </p>
            <p class="card-text">
              <small class="text-muted">
                Average Rating: <%if(story.ratingScore >-1) {%>
                <%=story.ratingScore%> <%} else {%> This story is not yet rated.
                <% } %>
              </small>
            </p>
            <a class="btn btn-primary" href="/fiction/<%=story.id%>"
              >View <%=story.title%>
            </a>
            <a
              class="btn btn-info card-link"
              href="/fiction/<%=story._id%>/edit"
              >Edit
            </a>
            <form
              action="/fiction/<%=story._id%>/?_method=DELETE"
              method="POST"
              class="d-inline"
            >
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%}%>
  </ul>
</div>

<div>
  <h1 class="text-center">Reported Reviews</h1>
  <ul>
    <% if (reviewsWithUnrespondedReports.length > 0) { for (let review of
    reviewsWithUnrespondedReports) {%>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-2">
          <% if (review.reviewedStory.images.length) {%>
          <img
            class="img-fluid"
            src="<%=review.reviewedStory.images[0].url%>"
            alt=""
          />

          <%} else {%>
          <img class="img-fluid" src="" alt="" />

          <%}%>
        </div>

        <div class="col-md-10">
          <div class="card-body mb-3">
            <h5 class="card-title"><%=review.title%></h5>
            <p class="card-text">Review Stars: <%=review.rating%></p>
            <p class="card-text">Review Text: <%=review.body%></p>
            <p class="card-text">Upvotes: <%=review.upvotes.number%></p>
            <a
              class="btn btn-success mb-3"
              href="/fiction/<%=review.reviewedStory._id%>"
              >View this story</a
            >
            <br />

            <% if (review.reportList[0]) { for (let i = 0; i
            <review.reportList.length; i++) { if
            (review.reportList[i].adminResponded===false) { %>
            <p>reporter's email: <%=review.reportList[i].poster.email%></p>
            <p>Report Text: <%=review.reportList[i].body%></p>

            <form
              action="/fiction/<%=review.reviewedStory._id%>/reviews/<%=review._id%>/<%=review.reportList[i]._id%>?_method=PUT"
              method="POST"
              class="d-inline"
            >
              <button class="btn btn-primary" type="submit">
                Remove the report on this review
              </button>
            </form>
            <p>---</p>

            <% }} }%>

            <form
              action="/fiction/<%=review.reviewedStory._id%>/reviews/<%=review._id%>?_method=DELETE"
              method="POST"
              class="d-inline"
            >
              <button class="btn btn-danger">Delete this Review</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%} }%>
  </ul>
</div>
<script>

  const pendingStories = {features: <%-JSON.stringify(pendingStories)%>}
  const reviewsWithUnrespondedReports = <%- JSON.stringify(reviewsWithUnrespondedReports) %>
</script>
